---
layout: default
home: true
---
<ul class="iso-categories">
  <li class="category"><a href="#code" data-filter="code" class="code"><span class="code">Web Development</span><i class="fa fa-code"></i></a></li>
  <li class="category hide"><a href="#outside" data-filter="outside" class="outside"><span class="outside">Outside</span><i class="fa fa-tree"></i></a></li>
  <li class="category"><a href="#music" data-filter="music" class="music"><span class="music">Music</span><i class="fa fa-music"></i></a></li>
</ul>
<div class="home">
  <ul class="post-list">
    {% if site.pagination %}
      {% assign source = paginator.posts %}
    {% else %}
      {% assign source = site.posts %}
    {% endif %}
    {% for post in source %}
      <li class="item {% if post.categories contains 'web' %}code{% endif %}{% if post.categories contains 'music' %}music{% endif %}{% if post.categories contains 'outside' %}outside{% endif %}">
        <div class="categories">
          {% if post.categories contains 'web' %}
            <i class="fa fa-code"></i>
          {% endif %}
          {% if post.categories contains 'music' %}
            <i class="fa fa-music"></i>
          {% endif %}
          {% if post.categories contains 'outside' %}
            <i class="fa fa-tree"></i>
          {% endif %}
        </div>
        <div class="to-overflow">
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-list-link">
            <div class="post-list-info">
              <h2 class="post-list-title">{{ post.title }}</h2>
              <span class="post-list-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
            </div>
          </a>
        </div>
          <img src="{{ post.thumb }}" class="post-list-thumb" />
      </dli>
    {% endfor %}
  </ul>
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
  <!-- <p class="rss-subscribe">
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
      Subscribe via RSS
      <i class="icon ion-social-rss"></i>
    </a>
  </p> -->
</div>
