<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:300,300italic,400,400italic,700italic,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ "/assets/css/vendors/normalize.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/vendors/slidebars.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/vendors/rrssb.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/img/favicon.ico" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/assets/img/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ "/assets/img/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ "/assets/img/favicon-96x96.png" | prepend: site.baseurl }}" sizes="96x96">

    <link rel="icon" type="image/png"  href="{{ "/assets/img/android-chrome-192x192.png" | prepend: site.baseurl }}" sizes="192x192">

    <link rel="apple-touch-icon-precomposed" href="{{ "/assets/img/apple-touch-icon.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "/assets/img/apple-touch-icon-57x57.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ "/assets/img/apple-touch-icon-60x60.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/assets/img/apple-touch-icon-72x72.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ "/assets/img/apple-touch-icon-76x76.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/assets/img/apple-touch-icon-114x114.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "/assets/img/apple-touch-icon-120x120.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/assets/img/apple-touch-icon-144x144.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "/assets/img/apple-touch-icon-152x152.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ "/assets/img/apple-touch-icon-180x180.png" | prepend: site.baseurl }}" />

    <meta name="msapplication-square70x70logo" content="{{ "/assets/img/smalltile.png" | prepend: site.baseurl }}" />
    <meta name="msapplication-square150x150logo" content="{{ "/assets/img/mediumtile.png" | prepend: site.baseurl }}" />
    <meta name="msapplication-wide310x150logo" content="{{ "/assets/img/widetile.png" | prepend: site.baseurl }}" />
    <meta name="msapplication-square310x310logo" content="{{ "/assets/img/largetile.png" | prepend: site.baseurl }}" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <!-- facebook -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ page.thumb | prepend: site.baseurl }}" />

    <!-- Google+ -->
    <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}">
    <meta itemprop="image" content="{{ page.thumb | prepend: site.baseurl }}" />
</head>
