<script type="text/javascript" src="{{ "/assets/js/vendors/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/vendors/slidebars.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/vendors/jquery.backstretch.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/vendors/jquery.scrollstop.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/vendors/rrssb.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/vendors/isotope.pkgd.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/vendors/retina.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/functions.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
  var images = [
    {% for image in page.backgrounds %}'{{ image }}',{% endfor %}
  ];
</script>
