<a href="#" class="sb-toggle-right">
    <i class="fa fa-bars"></i>
</a>
<div class="sb-slidebar sb-right sb-style-push">
<div class="avatar">
  <img src="http://photos1.meetupstatic.com/photos/member/5/c/1/e/highres_184283582.jpeg" alt="Radu Chiriac" />
</div>
    <nav>
        <h2 class="site-title">{{ site.title }}</h2>
        <ul class="sb-menu">
            <li class="sb-close {% if page.url == node.url %}active{% endif %}">
                        <a href="{{ site.baseurl }}/">Home</a>
                    </li>
            {% assign pages_list = site.pages | sort:"url" %}
            {% for node in pages_list %}
                {% if node.title != null %}
                    {% if node.layout == "page" %}
                        <li class="sb-close {% if page.url == node.url %}active{% endif %}">
                        <a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    <div class="site-info">
        <p>
            {{ site.title }} &dash; Copyright &copy; {{ site.time | date: '%Y' }}
        </p>
    </div>
</nav>
</div>
